@page "/inv-stock-port-list"
@using BulkUpload.DataModel.Inventory
@using BulkUpload.Repository.Interface
@using Microsoft.EntityFrameworkCore

@inject BulkUpload.Repository.Interface.IStockPort PortService

<h3>Port </h3>

<div class="container mt-3">
    <div class="row mb-3">

@*         <div class="col-md-12 text-end">

            <a class="btn btn-success" href="inv-stock-sales-upload">Upload Stock Sales Data</a>
        </div> *@

    </div>
    @if (Data == null)
    {
        <div class="alert alert-info">Loading data...</div>
    }
    else if (!Data.Any())
    {
        <div class="alert alert-warning">No data found.</div>
    }
    else
    {

        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
                        FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="8" AllowPaging="true"
                        PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                        Data="@Data" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or"
                        SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedPortData>
            <Columns>
                <RadzenDataGridColumn Property="@nameof(InvStockPort.Code)" Filterable="false" Title="Code" Width="80px" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn Property="@nameof(InvStockPort.PortName)" Title="Port Name" Width="160px" />
                
            </Columns>
        </RadzenDataGrid>


    }

</div>




@code {


    IQueryable<InvStockPort> Data;
    IList<InvStockPort> selectedPortData;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Data = PortService.GetAll();

        selectedPortData = new List<InvStockPort>() {
            Data.FirstOrDefault()
        };
    }
}
