@page "/Dashboard"

@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<div class="container mt-4">
    <h1 class="text-center" style="color:black">Welcome to Bulk Data Management System for VAT Application</h1>
    <p class="text-center text-muted">Manage your bulk data efficiently and effortlessly.</p>

    <div class="row mt-5">
        <!-- Card 1: Add Stock -->
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Upload new Purchase data</h5>
                    <p class="card-text">Upload and manage your bulk data in one place.</p>
                    <button class="btn btn-primary" @onclick="NavigateToAddStock">Upload</button>
                </div>
            </div>
        </div>



        <!-- Card 3: Add Stock -->
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Updoal New Sales data</h5>
                    <p class="card-text">Upload and manage your bulk data in one place.</p>
                    <button class="btn btn-primary" @onclick="NavigateToAddStockSales">Upload</button>
                </div>
            </div>
        </div>


        <!-- Card 2: View Stock -->
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">View Recive</h5>
                    <p class="card-text">See all the records at a glance.</p>
                    <button class="btn btn-success" @onclick="NavigateToViewStock">View</button>
                </div>
            </div>
        </div>

        <!-- Card 4: View Stock -->
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">View Salse</h5>
                    <p class="card-text">See all the records at a glance.</p>
                    <button class="btn btn-success" @onclick="NavigateToViewStockSales">View</button>
                </div>
            </div>
        </div>

       
    </div>
</div>



@code {
    private void NavigateToAddStock()
    {
        NavigationManager.NavigateTo("/inv-stock-receive-upload");
    }

    private void NavigateToViewStock()
    {
        NavigationManager.NavigateTo("/inv-stock-receive-list");
    }


    private void NavigateToAddStockSales()
    {
        NavigationManager.NavigateTo("/inv-stock-sales-upload");
    }

    private void NavigateToViewStockSales()
    {
        NavigationManager.NavigateTo("/inv-stock-sales-list");
    }

    private void NavigateToReports()
    {
        NavigationManager.NavigateTo("/reports");
    }

  
}

